extends layout

block content
  h1 ¡Hi, #{email}!
  p
    | Thanks for creating an account.
    | Please confirm your email address by doing click in the button below:
  // Action
  table.body-action(align='center', width='100%', cellpadding='0', cellspacing='0', role='presentation')
    tbody
      tr
        td(align='center')
          //
            Border based button
            https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design
          table(width='100%', border='0', cellspacing='0', cellpadding='0', role='presentation')
            tbody
              tr
                td(align='center')
                  a.f-fallback.button(href=verificationUrl, target='_blank') Verify Email
  p
    | Thank You,
    br
    | LiquidIntel Team.
  p
    strong P.S.
    |  ¿Need help to start using LiquidIntel? Check our 
    a(href=supportUrl)   faq
    | . Or answer to this email.
  // Sub copy
  table.body-sub(role='presentation')
    tbody
      tr
        td
          p.f-fallback.sub
            | If your having issues with the button above you can just copy-paste this link into your browser.
          p.f-fallback.sub=verificationUrl