extends layout

block content
  h1 Hi, #{email}
  p
    | Someone requested a password reset for your account. If it was you, just click the magic link below. If not, ignore this email.
  // Action
  table.body-action(align='center', width='100%', cellpadding='0', cellspacing='0', role='presentation')
    tbody
      tr
        td(align='center')
          //
            Border based button
            https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design
          table(width='100%', border='0', cellspacing='0', cellpadding='0', role='presentation')
            tbody
              tr
                td(align='center')
                  a.f-fallback.button(href=hrefResetUrl, target='_blank') Reset Password
  p
    | Thank You,
    br
    | Tomati Support Team.
  // Sub copy
  table.body-sub(role='presentation')
    tbody
      tr
        td
          p.f-fallback.sub
            | If your having issues with the button above you can just copy-paste this link into your browser.
          p.f-fallback.sub=resetUrl